/**********************************************************
* Angular-Tabs
***********************************************************/
}
#multi .list .active,
#multi .list li:hover {
  border-radius: initial;
}
